* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  width: 100%;
}
  
header {
  
  width: 100%;
  
  padding: 20px 50px 20px 0px;
  
  display:flex;
  
  justify-content: flex-start;
  
  align-items:flex-start;
  
  background-color: #02075d;
  
  }
  
  header h1 {
    text-align: end;
    font-weight: bold;
    font-size: 36px;
    color: #000;
    margin: 0px;
    width: 20%;
    background-color: #4db0b1;
    padding: 5px 10px;
  
  }
  
  header h1 a {
  
  text-decoration: none;
  
  color: #02075d;
  
  }
  
  header h1 a:hover{
  
  cursor: pointer;
  
  color: #02075d;
  
  }
  
  header nav {
  
  width: 80%;
  
  display: flex;
  
  justify-content: flex-end;
  
  padding: 10px;
  
  margin: 0px 0;
  
  }
  
  header nav ul li {
  
  margin: 0px 10px;
  
  display: inline;
  
  padding: 5px;
  
  font-weight: lighter;
  
  border-bottom: 4px solid #4db0b1;
  
  font-size: 20px;
  
  }
  
  header nav ul li a, .contact ul li a {
  
  text-decoration: none;
  
  color: #4db0b1;
  
  }
  
  header nav ul li a:hover {
  
  text-decoration: none;
  
  cursor: pointer;
  
  color: #02075d;
  
  }
  .hero-banner {
  
    width: 100%;
    
    height: 300px;
    
    display: flex;
    
    justify-content: flex-end;
    
    align-items: flex-end;
    
    background: url("../images/hero_bg.jpg");
    background-size: cover;
    position: relative;
    
    }
   
  .my-image{
    width: 250px;

    height: 250px;
    border: 1px solid #02075d;

    border-radius: 50%;
    position: absolute;
    bottom: -36px;
    right: 57px;
  }
  .page-wrapper{
    background-color: #e3e6e7;
  }
  
  section {
  
  width: 100%;
  
  display: flex;
   
  padding: 50px;
  
  }
  
  main section h2{
  
  display: flex;
  
  justify-content: flex-end;
  
  align-items: flex-start;
  
  width: 20%;
  
  color: #02075d;
  
  font-size: 36px;
  
  padding-right: 10px;
  
  border-right: 4px solid #02075d;
  
  }
  
  #about p{
  
  display: flex;
  
  justify-content: flex-end;
  
  align-items: center;
  
  width: 80%;
  
  font-size: 20px;
  
  color: #02075d;
  
  margin-left: 50px;
  
  }

  .abc {
    margin-left: 50px;
    display: grid;
    width:80%;
    grid-template-rows: 400px 250px 250px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "one one "
    "two three "
    "four five"
    ;
  }
  .categoryGridArea {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
    border: 3px solid #4db0b1;
}
.heading {
  background-color: rgb(77 176 177);
  margin-bottom: 15px;
  color: #02075d;
  font-size: 18px;
  width: fit-content;
  padding: 10px;
}
.heading p{
  font-size: 15px;
}
  
  #one{
    grid-area: one;
    background-image: url(../images/portfolio_1.png);
  }
  #two{
    grid-area: two;
    background-image: url(../images/rayna.png);
  }
  #three{
    grid-area: three;
    background-image: url(../images/techno.png);
  }
  #four{
    grid-area: four;
    background-image: url(../images/sass.png);
  }
  #five{
    grid-area: five;
    background-image: url(../images/portfolio-4.png);
  }



